body {
  margin: 0;
  padding: 0;

  font-family: Roboto,Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
 color: #e74246;
}

.site-navigation a:focus,
.cart a:focus {
  opacity: 1;
  border-bottom: 1px solid red;
  color: #000000;
}

.site-navigation a:active,
.cart a:active {
  color: #000000;
  opacity: 0.3;
}

.logo:hover,
.logo:focus {
 opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.cart  a {
  display: inline-block;
  background: #eeeeee url("../img/cart-icon.svg") no-repeat left center;
  padding-left: 38px;
  vertical-align: top;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;

  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  vertical-align: middle;
  padding: 16px;
  min-width: 130px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #dfdfdf;
}

.btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 0 0 3px rgba(0,0,0,0.1);
}

.btn-more {
  width:240px;
  background-color: #fb565a;
  box-sizing: border-box;
  }

.btn-red {
  width:160px;
  background-color: #fb565a;
}

.btn-red:hover,
.btn-more:hover,
.btn-red:focus,
.btn-more:focus {
    background-color: #e74246;
}

.btn-red:active,
.btn-more:active {
  background-color: #d7373b;
}

.btn-green {
  width:160px;
  background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
}

.btn-yellow {
  width:160px;
  background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
}

.btn-contact {
  margin-top: 20px;
  width: 190px;
}

.filter-button {
  color: #000000;
  font-weight: 700;
  width: 260px;
  }

.filter-button:hover {
  cursor: pointer;
}

.filter-button-next {
  color: #000000;
  font-weight: 700;
  width: 220px;
}

.makets btn-red {
  width: 200px;
}

.btn-small {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 13px;
  min-width: 15px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-radius: 2px;
  border: 3px solid #eeeeee;

  color: #000000;
  }
.pagination-item-current {
  background-color: #ffffff;
}

.btn-small:hover,
.btn-small:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.btn-small:active {
  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  }

img {
  max-width: 100%;
  height: auto;
}

.slider {
  position: relative;
  width:1160px;
  height: 450px;
  }

 ul.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.slider-controls{
  position:absolute;
  bottom:135px;
  left:41%;
  width:200px;
  height:10px;
  margin-left:-80px;
  text-align:center;
  z-index:1000;
}
.slider-controls i{
  display:inline-block;
  width:7px;
  height:7px;
  margin:0 5px;
  background:#ffffff;
  border:7px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
.slider-controls .active{
  background:#c1c1c1;
}

.slider-1 {
  margin-bottom: 0;
  background: #eeeeee url("../img/slide1.png") 94% 110%  no-repeat;
  background-size: auto;
  min-height: 416px;

  }

.slider-2 {
  margin-bottom: 0;
  background: #eeeeee  url("../img/slide2.png") 100% 10%   no-repeat;
  background-size: auto;
  min-height: 417px;
}

.slider-3 {
  margin-bottom: 0;
  background: #eeeeee  url("../img/slide3.png") 100% 100%  no-repeat;
  background-size: auto;
  min-height: 416px;
}

.slider div {
  padding-top: 65px;
  margin-left: 0px;
}

.slider b {
  padding-bottom: 20px;
}

.main-header {
  margin-bottom: 80px;
  width: 100%;
  height: 544px;
  background: #eeeeee no-repeat;
  background-size: cover ;
}

header {
  background-color: #eeeeee;
  background-size: cover ;
}

.logo {
 margin-top: -8px;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation li,
.cart li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  }

.site-navigation li {
  margin-left: 5px;
}

.site-navigation li:nth-child(2) {
  margin-right: 5px;
}

.site-navigation li:nth-child(3) {
  margin-right: 2px;
}

.site-navigation li:last-child {
  margin-right: 10px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 3px;
  background-color: #eeeeee;
}

.site-navigation   {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  width: 450px;
  }


.slider b {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  text-transform: inherit;
  padding-top: 0px;
  margin-bottom: 0px;
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider p {
  padding-top: 10px;
  width: 380px;
  margin-bottom: 40px;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.services h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

.services p {
  width: 280px;
}

.services p:nth-child(2) {
  padding-left: 10px;
}

.services-web {
  margin-left: 0px;
}

.services-applications {
  margin-left: 0px;
}

.services-presentation {
  margin-right: 60px;
}

.services .btn {
  margin-top: 15px;
  width: 100px;
}

.divide {
  border: 1px solid #eeeeee;
  width: 100%;
}

.divide:last-child {
  margin-bottom: 80px;
}

.about {
 display: flex;
  padding-top: 70px;
  margin-bottom: 45px;
}

.about-info {
  margin-top: 3px;
  margin-left: 0px;
}

.about b {

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-transform: inherit;
}

.about p {
  padding-top: 17px;
}

.about h4 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
}

.about ul {
  margin: 0;
  padding: 0;
  margin-left: 26px;
}

.about li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 24px;
  margin-left: 10px;
}

.about li:last-child {
  margin-top: 24px;
  margin-bottom: 27px;
}

.about li::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -35px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-details {
  margin-left: 70px;
  }

.about-details img {
  margin-top: -30px;
}

.about-table {
  margin-top: 31px;
}

.about caption {
  font-weight: bold;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.table-row1 {
  font-size: 45px;
  line-height: 1.7;
  font-weight: bold;
  text-transform: inherit;
  vertical-align: center;
  }

.table-row1 td {
  width: 33%;
}

.table-row1 sup {
  font-size: 60%;
}

.table-row2 {
  line-height: 1.1;
}
.partners div {
  width: 1160px;
  height: 180px;

}

.partners ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.partners li {
  width: 260px;
  margin: 0;
  margin-top: 39px;
  margin-left: 25px;
  padding: 0;
}

.partners a {
  display: block;
  padding: 5px;
}

.partners-1 {
  padding-top: 10px;
}

.partners-2 {
  padding-left: 5px;
}

.partners-3 {
  padding-left: 25px;
}
.partners-4 {
  padding-top: 8px;
  padding-left: 40px;
}

.partners-1,
.partners-2,
.partners-3,
.partners-4 {
  opacity: 0.2;
}

.partners-1:hover,
.partners-2:hover,
.partners-3:hover,
.partners-4:hover {
  opacity: 1;
}

.partners-1:focus,
.partners-2:focus,
.partners-3:focus,
.partners-4:focus,
.partners-1:active,
.partners-2:active,
.partners-3:active,
.partners-4:active {
  opacity: 0.1;
}

.map {
  position: relative;
  margin: 0;
  background: url("../img/map-marker.png"),
    url("../img/map.jpg") no-repeat;*
  background-size: auto,cover;
  background-repeat: no-repeat,no-repeat;
  background-position: 65% 47%;
  background-color: #ffffff;
  width: 100%;
  height: 415px;
  margin-bottom: 5px;
}

.modal {
  position: fixed;
  display: none;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  width: 760px;
  height: 390px;
  padding: 100px 100px;
  bottom: 190px;
  right: calc(50% - 480px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.75);
  z-index: 200000;
}

.map h4  {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.map p {
  padding-top: 10px;
  line-height: 18px;
}

.map-href {
  position: absolute;
  display: block;
  width: 320px;
  height: 307px;
  top: 55px;
  right: calc(50% + 1160px/2 - 320px);
  background-color: #ffffff;
}

iframe {
  width: 100%;
  height: 415px;
}

.contacts {
  display: inline-block;
  margin-left:  50px;
  margin-top: 46px;
  vertical-align: middle;
}

button.btn-red:active .modal {
  display: block;
}



@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% {transform: translateY(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
  20%, 40%, 60%, 80%, 100% {transform: translateY(10px);}
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  width: 25px;
  height: 3px;
  background-color: #fecccd;
  opacity: 0.3;
  }

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 23px;
}

.modal label,
.modal p {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal p:last-child {
  width: 100%;
}

.modal div {
  width: 760px;
}

.modal .btn {
  width: 35%;
  margin-right: 0px;
  margin-top: 20px;
}

.modal .btn:hover {
  cursor: pointer;
}

.login-form {
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-form input[type="text"],
.login-form input[type="email"] {
  margin-top: 10px;
  width: 360px;
  height: 42px;
  border: 2px solid #d7dcde;
}

.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover {
  border: 2px solid #b4b9bb;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #000000;
}

.login-form input[type="text"]:invalid,
.login-form input[type="email"]:invalid {
  border: 2px solid #e74246;
}

.login-item {
  width: 360px;
}

.login-item:last-child {
  padding-top: 10px;
  margin-top: 30px;
}

.login-form textarea {
  margin-top: 10px;
  width: 760px;
  border: 2px solid #d7dcde;
}

.login-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.login-form textarea:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #000000;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 220px;
  background-color: inherit;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 0px;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 6px;
  }

.main-footer li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

 .footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
   margin-left: -40px;
   margin-top: -10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:hover path,
.social-btn:focus path {
  background-color: #d7373b;
}

.main-footer .friends {

  margin-left: 140px;
  margin-top: 0px;
}

/* Страница Каталога*/

.main-header-catalog {
  margin-bottom: 80px;
  width: 100%;
  height: 355px;
  background-color: #eeeeee;
  background-position: right;
  background-size:  cover ;
  display: inline-table;
  }

.catalog {

  width: 100%;
}

.slider-catalog {
  margin-top: 65px;
  background: #eeeeee;

  }

.slider-catalog  h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  text-transform: inherit;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.inner-page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  }

.price .legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;

}

.price label {
  font-size: 16px;
  line-height: 20px;
  }

.price {
  margin-top: -25px;
}

.price ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 25px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-contols input {
  width: 58px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
  font-family: Roboto sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-contols .min-price {
  margin-right: 24px;
}

.price-contols {
  white-space: nowrap;
}

.price-contols label {
  font-size: 22px
}

.grid {
  position: relative;
  margin-bottom: 45px;
}

.grid li {
    padding-top: 15px;
}

.grid label {
  padding-left: 35px;
  cursor: pointer;
}

.filter-option {
  user-select: none
}

.grid label::before {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 28px;
  height: 25px;
  margin: 0 5px 0 0;
  content: '';
  background-image:
    url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 0.4;
  vertical-align: top;
}

.filter-option input[type="radio"]:checked ~ label:before {
  background-image: url(../img/radio-on.svg);
  background-color: #ffffff;
}

.filter-option input[type="radio"]:focus ~ label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.grid label:hover::before {
  opacity: 1;
}

.properties {
  position: relative;
  margin-bottom: 48px;
}

.properties li {
  padding-top: 15px;
}

.properties label {
  padding-left: 35px;
  cursor: pointer;
}

.properties label::before {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 28px;
  height: 25px;
  margin: 0;
  content: '';
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 0.4;
  vertical-align: top;
  }

.filter-option input[type="checkbox"]:checked ~ label:before {
  background-image: url(../img/checkbox-on.svg);
  background-color: #ffffff;
}

.filter-option input[type="checkbox"]:focus ~ label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  opacity: 0.1;
}

.properties label:hover::before {
  opacity: 1;
}

.filter-input {
  margin-left: 6px;
  margin-top: 5px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-all {
  width: 360px;
  display: flex;
  justify-content: space-between;

}

.sorting-all li {
  opacity: 0.3;
}

.sorting-all li:hover,
.sorting-all li:focus {
  opacity: 0.6;
}

.sorting-all li:active {
  opacity: 1;
}

.sorting h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -5px;
}

.sorting li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-all li:nth-child(3) {
  position: relative;
  margin-right: 90px;
}

.sorting-all li:nth-child(3)::after {

  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  background-image: url("../img/icon-up-dir.svg"),
                url("../img/icon-down-dir.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 70% 5%, 0 5%;
  background-color: #ffffff;
  opacity: 1;
  margin-left: 50px;

}

.price-pink {
  width: 360px;
}

.makets {
  width: 760px;
  margin-top: -25px;
}

.makets-all {
  margin-bottom: 53px;
  margin-top: 87px;
}

.makets-all ul {
  display: flex;
  width: 760px;
  flex-wrap: wrap;

  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;

}

.makets-all li {
  position: relative;
}

.makets-all h3 {
  margin: 0;
  padding: 0;
}

.maket-item {
  position: relative;
}

.maket-item::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 50px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-color: #eeeeee;
  top: -40px;
  opacity: 0.12;
}

.maket-item:hover::before {
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  opacity: 1;
  z-index: -1;

}

.maket-item:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.maket-item:nth-child(3),
.maket-item:nth-child(4),
.maket-item:nth-child(5),
.maket-item:nth-child(6) {
  margin-top: 67px;
}

.makets ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.makets h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.makets p {
  font-size: 16px;
  line-height: 18px;
  }

.pagination-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 5px;
}

.pagination-list {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  }

.hover-block {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  background-position: 0 0;
  width: 100%;
  height: 41%;
  bottom: 0;
  left: 0;
  right: 0;
}

.makets-all li:hover .hover-block {
  display: block;
}

.makets-all li:hover .maket-item::before {
  opacity: 1;
}

.hover-block h3 {
  padding-top: 28px;

  text-align: center;
}

.hover-block p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-width: 230px;
  margin-left: 22%;
  margin-right: 25%;
}

.hover-block .btn {
  margin-left: 23%;
  margin-top: 12px;
}

.hover-block>h3>a {
  text-decoration: none;
  color: black;
  }







